.col-md-6.col-md-offset-3  
  .text-center
    %h1 Links
    %p.lead
      = @link.url

.col-md-6.col-md-offset-3.text-center
  = link_to "Return to #{@submission.name} submission", assignment_submission_path(@assignment, @submission)
  %br
  .group-list-item
    = link_to "Edit link", edit_assignment_submission_link_path(@assignment, @submission, @link)
    |
    = link_to "Delete link", assignment_submission_link_path(@assignment, @submission, @link), method: :delete