= form_for [@assignment] do |f|
  - if @assignment.errors.any?
    - @assignment.errors.full_messages.each do |message|
      = message
      %br
.div
  = form_for [@assignment] do |f|
    .form-group
      %strong 
        = f.label :name
      = f.text_field :name, class: "form-control name_field"
      %span.error_first_name
        Name required
    %br
    .form-group
      = f.label :requirements
      = f.text_field :requirements, class: "form-control"
    = f.submit "Submit", class: "submit_btn"
    = link_to "Cancel", assignments_path