
=form_for @user do |f|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |message|
      = message
= form_for @user do |f|
  .form-group
    .list-group-item
      = f.label :first_name
      = f.text_field :first_name, class: "form-control"
      %br
  .form-group
    .list-group-item
      = f.label :last_name
      = ':'
      = f.text_field :last_name, class: "form-control"
      %br
  .form-group
    .list-group-item
      = f.label :github
      = ':'
      = f.text_field :github, class: "form-control"
      %br
  .form-group
    .list-group-item
      = f.label :admin_status
      = f.radio_button(:admin_status, 1)
      = f.label(:admin_status, "yes")
      = f.radio_button(:admin_status, 0)
      = f.label(:admin_status, "no")
      %br

  .form-group
    =f.submit "Submit", class: "btn btn-primary"


