.col-md-6.col-md-offset-3  
  .text-center
    %h2
      Course Information
    = link_to "Back to Courses", courses_path
    %br
    = link_to "Edit", edit_course_path(@course)
    |
    = link_to "Delete", course_path(@course), method: :delete
   
.row
  .col-md-6.col-md-offset-3
    .list-group-item
      .text-center
        %strong
          Course Name: 
        = @course.name
        %br
        %strong
          Description:
        = @course.description
        %br
        %strong
          Locations course is offered:
          %br
        - @locations.each do |location|
          = location.name 
          %br